<%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
<table>
  <tr>
    <td>ID</td>
    <td>Placa de Vehiculo</td>
    <td>Nombre de Pasajero</td>
  </tr>
  <% @paths.each do |path| %>
    <tr>
    <td><%= path.id %></td>
    <td><%= path.vehicle.plate %></td>
    <td><%= path.passenger.name %></td>
    </tr>
  <%end%>
</table>
